################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Morpheus - Poland/.vs/SrvDoc/v15
