################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Morpheus - Poland/obj/Debug/MORPHEUS.FormManageAccounts.resources
/Morpheus - Poland/.vs/SrvDoc/v15/.suo
/Morpheus - Poland/obj/Debug/CoreCompileInputs.cache
